@import 'pods';

.EmberIslandTestHarness {
  font-family: sans-serif;

  .DemoContainer {
    border: dotted 2px rebeccapurple;
    border-radius: 6px;
    font-family: sans-serif;
    padding: 20px;
    margin: 20px 0;
  }

  .RailsIsland {
    border: solid 2px #66b3ba;
    margin: 40px 0;
    min-height: 20px;
    padding: 20px;
    position: relative;

    &::before {
      background: #66b3ba;
      color: white;
      content: 'Rails Island - #' attr(id);
      font-family: sans-serif;
      font-size: 12px;
      padding: 5px 10px;
      position: absolute;
      left: -2px;
      top: -25px;
    }
  }
}

.DemoContainer--ember {
  font-family: sans-serif;
}
