.EmberIsland {
  border: solid 2px goldenrod;
  margin: 40px 0;
  min-height: 20px;
  padding: 20px;
  position: relative;

  &::before {
    background: goldenrod;
    color: white;
    content: 'Ember Island Content - Will get zapped into #' attr(data-to);
    font-family: sans-serif;
    font-size: 12px;
    padding: 5px 10px;
    position: absolute;
    left: -2px;
    top: -25px;
  }
}
