<div class='bateman-ember'>
  <h2 id="title">Bateman Ember</h2>

  {{outlet}}

  {{#ember-wormhole to='placeholder-1'}}
    You know, the feeling that you're feeling is just what many of us call... a "feeling".
  {{/ember-wormhole}}

  {{#ember-wormhole to='placeholder-2'}}
    What is that? Is that a chicken?
  {{/ember-wormhole}}
</div>