<div class='bateman-ember'>
  <h2 id='title'>Bateman Ember</h2>
  <button onclick={{toggle 'renderInPlace' this}}>Toggle Quotes</button>

  {{outlet}}

  {{#ember-wormhole to='placeholder-1' renderInPlace=renderInPlace}}
    You know, the feeling that you're feeling is just what many of us call... a "feeling".
  {{/ember-wormhole}}

  {{#ember-wormhole to='placeholder-2' renderInPlace=renderInPlace}}
    What is that? Is that a chicken?
  {{/ember-wormhole}}
</div>
