<div class='EmberAppContent'>
  <h2>Ember App Content</h2>
  <button onclick={{toggle 'renderInPlace' this}}>Toggle Content</button>

  {{outlet}}

  {{#ember-archipelago renderInPlace=renderInPlace as |archipelago|}}
    {{#ember-island archipelago=archipelago to='placeholder-1'}}
      {{chart-highstock-interactive}}
    {{/ember-island}}

    {{#ember-island archipelago=archipelago to='placeholder-2'}}
      {{chart-settings}}
    {{/ember-island}}
  {{/ember-archipelago}}

</div>
