<div class='EmberAppContent'>
  <h2>Ember App Content</h2>
  <button onclick={{toggle 'renderInPlace' this}}>Toggle Content</button>

  {{outlet}}

  {{#ember-archipelago renderInPlace=renderInPlace as |archipelago|}}
    {{#ember-island archipelago=archipelago to='placeholder-1'}}
      You know, the feeling that you're feeling is just what many of us call... a "feeling".
    {{/ember-island}}

    {{#ember-island archipelago=archipelago to='placeholder-2'}}
      What is that? Is that a chicken?
    {{/ember-island}}
  {{/ember-archipelago}}

</div>
